.p {
  color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  padding: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarimg {
  padding: 10px;
}

.linknav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
